body {
    background-color: #F7F8FA;
}

h1 {
    text-align: center;
    color: #1F3A5F;
    font-size: 150px;
    font-weight: bold;
    font-family: "Fonts/Helvetica/helvetica neue/helvetica-neue-5/HelveticaNeue-Bold.ttf";
    margin-top: 150px;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    color: #6B7280;
    font-size: 55px;
    font-weight: normal;
    font-family: "Fonts/Source Sans Pro/SourceSansPro-Regular.ttf";
    margin-top: -5px;
}

.desc {
    text-align: center;
    color: #1F2933;
    font-size: 30px;
    font-weight: normal;
    font-family: "Fonts/Manrope/manrope-3/Manrope-Regular.ttf";
    margin-top: 80px;
}

hr {
    border: none;
    border-top: 2.5px solid #C2A46D;
    margin: 225px auto;
    width: 90%;
}

.founder-hr {
    border: none;
    border-top: 2px solid #C2A46D;
    margin: 100px auto;
    width: 85%;
}

h3 {
    text-align: center;
    color: #1F3A5F;
    font-size: 55px;
    font-weight: bold;
    font-family: "Fonts/Helvetica/helvetica neue/helvetica-neue-5/HelveticaNeue-Heavy.ttf";
    padding-bottom: 40px;
}

.shortnote {
    text-align: center;
    color: #1F2933;
    font-size: 30px;
    font-weight: normal;
    font-family: "Fonts/Manrope/manrope-3/Manrope-Regular.ttf";
    margin-top: 70px;
    margin-bottom: 80px;
}

.tag {
    text-align: center;
    color: #1F2933;
    font-size: 30px;
    font-weight: normal;
    font-family: "Fonts/Manrope/manrope-3/Manrope-Regular.ttf";
}

.sb {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    color: #1F2933;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
}

.sb li {
    flex: 1;
    padding: 20px;
    border: 2px solid #C2A46D;
    text-align: center;
    font-size: 25px;
    font-family: "Fonts/Inter/inter/Inter-Regular.otf";
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sb li:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border-color: #d79927;
}


.sb li p {
    font-size: 20px;
    font-family: "Fonts/Manrope/manrope-3/Manrope-Regular.ttf";
}

h4 {
    text-align: center;
    color: #1F3A5F;
    font-size: 60px;
    font-weight: bold;
    font-family: "Fonts/Helvetica/helvetica neue/helvetica-neue-5/HelveticaNeue-Heavy.ttf";
}

.highlight {
    color: #6B7280;
    margin-left: 120px;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: "Fonts/Source Sans Pro/SourceSansPro-Regular.ttf";
}

.working {
    color: #1F2933;
    margin-left: 150px;
    font-size: 25px;
    font-family: "Fonts/Manrope/manrope-3/Manrope-Regular.ttf";
}

.approach {
    list-style: none;
    margin: 35px;
    padding: 0;
}

.approach li {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.icon {
    color: #1F2933;
    margin-right: 10px;
}

h5 {
    text-align: center;
    color: #1F3A5F;
    font-size: 80px;
    font-weight: bold;
    font-family: "Fonts/Helvetica/helvetica neue/helvetica-neue-5/HelveticaNeue-Heavy.ttf";
    margin-bottom: 80px;
}

img {
    display: flex;
    margin-right: 50px;
    margin-left: 130px;
    width: 450px;
    height: 450px;
    border: black 2px solid;
    margin-top: 20px;
}

.founder-info {
    display: flex;
    text-align: left;
    margin-right: 100px;
}

.founder-name {
    color: #1F3A5F;
    font-size: 35px;
    font-weight: bold;
    font-family: "Fonts/Helvetica/helvetica neue/helvetica-neue-5/HelveticaNeue-Bold.ttf";
    margin-bottom: 30px;

}

.founder-desc {
    color: #1F2933;
    font-size: 20px;
    font-weight: normal;
    font-family: "Fonts/Manrope/manrope-3/Manrope-Regular.ttf";
    margin-top: 20px;
}

.note {
    text-align: left;
    color: #1F2933;
    font-size: 25px;
    font-family: "Fonts/Manrope/manrope-3/Manrope-Regular.ttf";
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

a {
    color: #1F2933;
    text-decoration: none;
    font-weight: bold;
}